<div class="row">
  <div class="col-auto">
    <div class="card text-white bg-danger mb-3 d-inline-block" style="max-width: 20rem;">
      <div class="card-header">Total Clicks</div>
      <div class="card-body">
        <h5 class="card-title text-monospace">{{_totalClicks}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="col-12">
    <div>
      <canvas #lineChart id="lineChart">{{ myLineChart }}</canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <hr>
    <div>
      <canvas #PieChart id="PieChart">{{ myPieChart }}</canvas>
    </div>
  </div>
  <div class="col-6">
    <hr>
    <div>
      <canvas #BarChart id="BarChart">{{ myBarChart }}</canvas>
    </div>
  </div>
</div>
