<div class="row">
  <div class="col-auto">
    <div id="clicksCard" class="card  bg-light mb-3 d-inline-block" >
      <div class="card-body">
        <p>Total Clicks</p>
        <h3 class="card-title text-monospace">{{_totalClicks | number:0}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-12">
    <h4 class="font-weight-light">Clicks By Year</h4>
    <hr>
    <div>
      <canvas #lineChart id="lineChart">{{ myLineChart }}</canvas>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h4 class="font-weight-light">Browsers </h4><hr>
    <div>
      <canvas #PieChart id="PieChart">{{ myPieChart }}</canvas>
    </div>
  </div>
  <div class="col-6">
    <h4 class="font-weight-light">Platforms </h4><hr>
    <div>
      <canvas #BarChart id="BarChart">{{ myBarChart }}</canvas>
    </div>
  </div>
</div>
