
  <div class="jumbotron bg-transparent w-100 mb-0">
    <div class="container">
      <div class="col-md-12">
        <h3 class="font-white font-weight-light pt-5">
          Analytics Data For : <small class="text-monospace"><u>{{urlDetail.shortUrl}}</u></small>
        </h3>
      </div>
      <div class="col-12">
        <h6 class="font-white font-weight-light">
          Date Created : {{urlDetail.dateCreated | date}}
        </h6>
      </div>
      <div class="col-12">
        <h6 class="font-white font-weight-light">
          Original Url : {{urlDetail.originalUrl}}
        </h6>
      </div>
    </div>
  </div>

