<div class="row bg-beige">
  <div class="row pt-3 m-auto" id="tableContainer">
    <div class="col-1"></div>
    <div class="col-10 table-responsive-sm pt-2" id="urlsTableDiv">
      <table class="table bg-gradient-table table-bordered shadow-effect table-hover" id="url-detail-list">
        <thead>
        <tr class="font-weight-bold text-md-center">
          <th>Original URL</th>
          <th>Date Created</th>
          <th>Short URL</th>
          <th>All Clicks</th>
        </tr>
        </thead>
        <tbody id="url-table-body">
          <tr *ngFor="let url of _urlData">
            <td><a class="text-dark" routerLink="/analytics/{{url.id}}">{{url.originalUrl}}</a></td>
            <td>{{url.dateCreated | date}}</td>
            <td><a class="text-dark" href="#">{{url.shortUrl}}</a></td>
            <td>{{url.grandSum}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>
