/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

//.alert-dialog-panel .mat-dialog-container {
//  color: goldenrod;
//}

.bg-beige{
  /*background-color: beige;*/
  background-color: #03DAC6;
}

.font-white{
  color: white;
}

.bg-special-color {
  background-color: #4B515D;
}

.shadow-effect{
  -moz-box-shadow: 0 0 20px #999;
  -webkit-box-shadow: 0 0 20px #999;
  box-shadow: 0 0 20px #999;
}

body, html {
  height: 100%;
}

.near-moon-gradient {
  background-image: linear-gradient(to bottom, #5ee7df 0%, #b490ca 100%);
}
.bg-gradient-table{
  /*background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);*/
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
  background-blend-mode: screen, overlay;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
